<div class="align">
    <br />
    <h2>Course Catelog</h2>
    <br/>
    <h4>Search:......</h4>
  <br />
  <br />
  <div class="list">
    <% @course.each do |course| %>
      <div class="d-flex justify-content-center col-md-4">
        <div class="card" style="width: 18rem;">
          <%= link_to image_tag(course.picture, class:"card-img-top", size: "250"), course_path(course.id) if course.picture.attached? %>
          <div class="card-body">
            <h4 class="card-title"><%= link_to "#{course.name}", course_path(course.id), class: 'link-to-text-color' %></h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><p>ADDRESS<p></li>
            <li class="list-group-item"><%= "Length: #{course.length}" %></li>
            <li class="list-group-item"><%= "Difficulty: #{course.difficulty}" %></li>
            <% if course.holes == true %>
              <li class="list-group-item">18 Holes</li>
            <% else %>
              <li class="list-group-item">9 Holes</li>
            <% end %>
          </ul>
        </div>
        <br />
        <br />
      </div>
    <%end%>
  </div>
</div>



