<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="<%= new_item_path %>">Post an Item</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= listings_path %>">My Current Listings</a>
  </li>
</ul>