<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="<%= profile_path %>">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= profile_courses_path %>">My Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= listings_path %>">My Listings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Meetups</a>
  </li>
</ul>